/********Main Styles*********/

* {
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  color: #4c4c4c;
  background: #f8fdf3;
  margin: auto;
}
.wrapper {
  color: green;
}
h1, 
p {
  color: green;
}
header {
  text-align: center;          
}
h1 {
  height: 60px;
  font-family: 'Courgette', cursive;
  line-height: .85;
  margin-top: 1.5em;
  margin-bottom: 10px;
}
h2 {
  font-family: 'Courgette', cursive;
  font-weight: 300;
  margin-top: 0;
}
p {
  display: block;
  font-size: 1.1em;
}
div {
 margin: auto;
 width: 100%;
}
/*******API Styles*********/

ul {
  list-style: none;
  margin: 0 auto;
  display: block;
}
ul li {
	display: block;
  width: 45%;
  float: left;
	background:white;
  margin: 10px;
  align-content: center;
  text-align: center;
}
ul li img:hover {
  box-shadow: 10px 10px 5px #888888;
}
ul li img {
  max-width: 100%;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  box-shadow: 2px 2px 1px #888888;
  transition: .5s ease;
}
span {
  display: block;
}
.hidden {
  display: none;
}
/*****Overlay*****/

#overlay {
  background:rgba(0,0,0,0.7);
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  display:none;
  text-align:center;
  z-index: 999;
}
.cover {
  background-color: white;
  width: 450px;
  height: 600px;
  margin-top: 30px;
  border-radius: 5px;
}
#overlay img {
 margin-top: 5%;
 width: 350px;
 height: 350px;
 z-index: 1000;
}
.captionInfo {
  width: 90%;
  margin: auto;
  font-size: 15px;
}





